加载数据到DataFrame

In [1]:
import pandas as pd

In [3]:
google_stock = pd.read_csv('./GOOG.csv')

In [4]:
type(google_stock)

pandas.core.frame.DataFrame

In [5]:
google_stock.shape

(3313, 7)

In [6]:
## 查看前5行
google_stock.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

In [7]:
## 查看前两行
google_stock.head(2)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800

In [8]:
## 查看后5行
google_stock.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [9]:
## 查看是否包含NaN
google_stock.isnull().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [10]:
## 查看数据的统计信息
## count:  个数
## mean:  平均值
## std: 标准差
## min: 最小值
## max: 最大值
## 25%: 第25百分位数
## 50%: 中位数
## 75%:  第75百分位数
google_stock.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3313.000000,3313.000000,3313.000000,3313.000000,3313.000000,3.313000e+03
mean,380.186092,383.493740,376.519309,380.072458,380.072458,8.038476e+06
std,223.818650,224.974534,222.473232,223.853780,223.853780,8.399521e+06
min,49.274517,50.541279,47.669952,49.681866,49.681866,7.900000e+03
25%,226.556473,228.394516,224.003082,226.407440,226.407440,2.584900e+06
50%,293.312286,295.433502,289.929291,293.029114,293.029114,5.281300e+06
75%,536.650024,540.000000,532.409973,536.690002,536.690002,1.065370e+07
max,992.000000,997.210022,989.000000,989.679993,989.679993,8.276810e+07

In [11]:
## 单列的统计信息
google_stock['Adj Close'].describe()

count    3313.000000
mean      380.072458
std       223.853780
min        49.681866
25%       226.407440
50%       293.029114
75%       536.690002
max       989.679993
Name: Adj Close, dtype: float64

In [12]:
## 每列最大值
print("Maximum values of each columns:\n", google_stock.max())

Maximum values of each columns:
 Date         2017-10-13
Open                992
High             997.21
Low                 989
Close            989.68
Adj Close        989.68
Volume         82768100
dtype: object

In [13]:
## 指定列最小值
print("Minimum Close value: ", google_stock['Close'].min())

Minimum Close value:  49.681866

In [17]:
## 每列平均值
print("Average value of each column:\n", google_stock['Open'].mean(axis=0))

Average value of each column:
 380.186091713

In [18]:
## 相关性
## 取值[-1, 1]
## 正数表示一个变量增大，另一个也增大，负数相反
## 绝对值越大，相关性越大
google_stock.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999904  0.999845  0.999745   0.999745 -0.564258
High       0.999904  1.000000  0.999834  0.999868   0.999868 -0.562749
Low        0.999845  0.999834  1.000000  0.999899   0.999899 -0.567007
Close      0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Adj Close  0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Volume    -0.564258 -0.562749 -0.567007 -0.564967  -0.564967  1.000000

groupby分组：https://segmentfault.com/a/1190000012394176

In [21]:
data = pd.read_csv('./fake_company.csv')
data

   Year     Name Department  Age  Salary
0  1990    Alice         HR   25   50000
1  1990      Bob         RD   30   48000
2  1990  Charlie      Admin   45   55000
3  1991    Alice         HR   26   52000
4  1991      Bob         RD   31   50000
5  1991  Charlie      Admin   46   60000
6  1992    Alice      Admin   27   60000
7  1992      Bob         RD   32   52000
8  1992  Charlie      Admin   28   62000

In [25]:
## 按'Year'分组
## groupby返回DataFrameGroupBy对象，需要使用聚合函数，例如sum()
data.groupby(['Year'])['Salary'].sum()

Year
1990    153000
1991    162000
1992    174000
Name: Salary, dtype: int64

In [28]:
## 按'Name'分组
group_name = data.groupby(['Name'])
group_name.size()

Name
Alice      3
Bob        3
Charlie    3
dtype: int64

In [29]:
data.groupby(['Year', 'Department'])['Salary'].sum()

Year  Department
1990  Admin          55000
      HR             50000
      RD             48000
1991  Admin          60000
      HR             52000
      RD             50000
1992  Admin         122000
      RD             52000
Name: Salary, dtype: int64

In [30]:
type(data.groupby(['Year', 'Department'])['Salary'].sum())

pandas.core.series.Series

In [31]:
tmp = data.groupby(['Year', 'Department'])['Salary'].sum()
tmp.index

MultiIndex(levels=[[1990, 1991, 1992], ['Admin', 'HR', 'RD']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2], [0, 1, 2, 0, 1, 2, 0, 2]],
           names=['Year', 'Department'])

In [32]:
tmp.values

array([ 55000,  50000,  48000,  60000,  52000,  50000, 122000,  52000], dtype=int64)