访问DataFrame中的元素

In [1]:
import pandas as pd

In [2]:
item = [{'bikes': 20, 'pants': 30, 'watches': 100},\
         {'watches': 10, 'glasses': 50, 'bikes': 40, 'pants': 25}]
store_items = pd.DataFrame(item, index=['store1', 'store2'])
store_items

        bikes  glasses  pants  watches
store1     20      NaN     30      100
store2     40     50.0     25       10

In [7]:
## 列标签
## 1重[]
## 结果为Series
print("store bikes:\n", store_items['bikes'])

store bikes:
 store1    20
store2    40
Name: bikes, dtype: int64

In [6]:
type(store_items['bikes'])

pandas.core.series.Series

In [8]:
## 二重[]
## 结果为DataFrame
print("store bikes:\n", store_items[['bikes']])

store bikes:
         bikes
store1     20
store2     40

In [9]:
type(store_items[['bikes']])

pandas.core.frame.DataFrame

In [13]:
## 多列，不支持1重[]，Series是一维数据结构
print("bikes and pants:\n", store_items[['bikes', 'pants']])

bikes and pants:
         bikes  pants
store1     20     30
store2     40     25

In [20]:
# print("bikes and pants:\n", store_items['bikes', 'pants'])

KeyError: ('bikes', 'pants')

In [12]:
## 行标签(也支持1重和二重[])
## 需要使用.loc来说明是行标签
print("items in store1:\n", store_items.loc[['store1']])

items in store1:
 bikes       20.0
glasses      NaN
pants       30.0
watches    100.0
Name: store1, dtype: float64

In [14]:
## 多行
print("store1 and store2:\n", store_items.loc[['store1', 'store2']])

store1 and store2:
         bikes  glasses  pants  watches
store1     20      NaN     30      100
store2     40     50.0     25       10

In [24]:
## 访问单个元素
## 列标签在前，行标签在后
print("bikes in store2:", store_items['bikes']['store2'])

bikes in store2: 40

In [21]:
## 如果列标签有多个或者为双重[]，后面的行索引需要使用.loc说明
print("bikes and pants in store1:\n", store_items[['bikes', 'pants']].loc['store1'])

bikes and pants in store1:
 bikes    20
pants    30
Name: store1, dtype: int64

In [4]:
## bikes列的前两行
store_items[['bikes']][0:2]

        bikes
store1     20
store2     40

往DataFrame添加元素

In [29]:
## 添加1列
## 列表的长度必须与行长度相同
store_items['shirts'] = [15, 2]
store_items

        bikes  glasses  pants  watches  shirts  suits
store1     20      NaN     30      100      15    115
store2     40     50.0     25       10       2     12

In [26]:
store_items['suits'] = store_items['watches'] + store_items['shirts']
store_items

        bikes  glasses  pants  watches  shirts  suits
store1     20      NaN     30      100      15    115
store2     40     50.0     25       10       2     12

In [30]:
## 添加一行
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35}]
new_store_item = pd.DataFrame(new_items, index=['store3'])
new_store_item

        bikes  pants  watches
store3     20     30       35

In [33]:
## 不改变原始值
store_items.append(new_store_item, sort=False)

        bikes  glasses  pants  watches  shirts  suits
store1     20      NaN     30      100    15.0  115.0
store2     40     50.0     25       10     2.0   12.0
store3     20      NaN     30       35     NaN    NaN

In [34]:
store_items

        bikes  glasses  pants  watches  shirts  suits
store1     20      NaN     30      100      15    115
store2     40     50.0     25       10       2     12

In [36]:
store_items = store_items.append(new_store_item, sort=False)
store_items

        bikes  glasses  pants  watches  shirts  suits
store1     20      NaN     30      100    15.0  115.0
store2     40     50.0     25       10     2.0   12.0
store3     20      NaN     30       35     NaN    NaN

In [41]:
## 在第2行和第3行增加new watches
store_items['new watches'] = store_items['watches'][1:]
store_items

        bikes  glasses  pants  watches  shoes  shirts  suits  new watches
store1     20      NaN     30      100      8    15.0  115.0          NaN
store2     40     50.0     25       10     15     2.0   12.0         10.0
store3     20      NaN     30       35      0     NaN    NaN         35.0

In [42]:
### 将新列插入指定的位置(第5列)，会直接修改原对象
store_items.insert(4, 'shoes', [8, 15, 0])
store_items

        bikes  glasses  pants  watches  shoes  shirts  suits  new watches
store1     20      NaN     30      100      8    15.0  115.0          NaN
store2     40     50.0     25       10     15     2.0   12.0         10.0
store3     20      NaN     30       35      0     NaN    NaN         35.0

DataFrame删除

In [44]:
## 删除new watches列，修改原对象
store_items.pop('new watches')
store_items

        bikes  glasses  pants  watches  shoes  shirts  suits
store1     20      NaN     30      100      8    15.0  115.0
store2     40     50.0     25       10     15     2.0   12.0
store3     20      NaN     30       35      0     NaN    NaN

In [46]:
## 删除列，axis=1表示删除列, drop()不改变原对象
store_items = store_items.drop(['watches', 'shoes'], axis=1)
store_items

        bikes  glasses  pants  shirts  suits
store1     20      NaN     30    15.0  115.0
store2     40     50.0     25     2.0   12.0
store3     20      NaN     30     NaN    NaN

In [47]:
## 删除行
store_items = store_items.drop(['store1', 'store2'], axis=0)
store_items

        bikes  glasses  pants  shirts  suits
store3     20      NaN     30     NaN    NaN

更改行标签和列标签

In [49]:
## 更改列标签，不改变原对象
store_items = store_items.rename(columns={'bikes': 'hats'})
store_items

        hats  glasses  pants  shirts  suits
store3    20      NaN     30     NaN    NaN

In [50]:
## 更改行标签
store_items = store_items.rename(index={'store3': 'last store'})
store_items

            hats  glasses  pants  shirts  suits
last store    20      NaN     30     NaN    NaN