pandas函数测试

In [1]:
import pandas as pd

In [2]:
items = {'Bob': pd.Series(data=['A|B', 'C|D', 'E|F'], index=['bike', 'pants', 'watch'])}
df = pd.DataFrame(items)
df

       Bob
bike   A|B
pants  C|D
watch  E|F

In [3]:
## 拆分
df['Bob'].str.split('|', expand=True)

       0  1
bike   A  B
pants  C  D
watch  E  F

In [4]:
## 堆叠
df['Bob'].str.split('|', expand=True).stack()

bike   0    A
       1    B
pants  0    C
       1    D
watch  0    E
       1    F
dtype: object

In [5]:
df['Bob'].str.split('|', expand=True).stack().reset_index(level=1, drop=True)

bike     A
bike     B
pants    C
pants    D
watch    E
watch    F
dtype: object

In [12]:
df.drop('Bob', axis=1).join(df['Bob'].str.split('|', expand=True).stack().reset_index(level=1, drop=True).rename('Bob'))

      Bob
bike    A
bike    B
pants   C
pants   D
watch   E
watch   F

In [13]:
df1 = df.drop('Bob', axis=1).join(df['Bob'].str.split('|', expand=True).stack().reset_index(level=1, drop=True).rename('Bob'))
df1['Bob'].value_counts()

C    1
F    1
D    1
A    1
E    1
B    1
Name: Bob, dtype: int64

apply的应用

In [27]:
df = pd.DataFrame(data=[[1, 2], [3, 4], [5, 6]], columns=['a', 'b'])
df

   a  b
0  1  2
1  3  4
2  5  6

In [29]:
def plus(df, n):
    df['c'] = df['a'] + df['b']
    df['d'] = (df['a'] + df['b']) * n
    return df

    
df = df.apply(plus, axis=1, args=(2,))  ## args为plus第2个及之后的参数
df

   a  b   c   d
0  1  2   3   6
1  3  4   7  14
2  5  6  11  22